 <form (ngSubmit)="login()" [formGroup]="formUser">
  <div class="space-y-2">
    <label class="text-sm font-medium text-gray-700">
      Correo Electrónico
    </label>
    <div class="relative">
      <lucide-icon [img]="icons.Mail" class="absolute left-2 top-1/2 -translate-y-1/2 w-5 h-5 text-gray-400"></lucide-icon>
      <input
        type="username"
        placeholder="estudiante@alumno.buap.mx"
        class="w-full pl-11 pr-11 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-yellow-500 outline-none"
        required
        formControlName="username"
        [class.border-red-500]="formUtils.isValidField(formUser,'username')"
      />
      <lucide-icon
        [hidden]="!formUser.controls['username'].touched"
        [img]="formUtils.isValidField(formUser,'username') ? icons.CircleX :icons.CheckCircle"
        class="absolute right-3 top-1/2 -translate-y-1/2 w-5 h-5 "
        [ngClass]="formUtils.isValidField(formUser,'username') ? 'text-red-500': 'text-green-500'"
      >
      </lucide-icon>
    </div>
    @if (formUtils.isValidField(formUser,'username')) {
      <p class="text-xs text-red-500 mt-1 animate-in slide-in-from-top-1 fade-in duration-200">
        {{ formUtils.getFieldError(formUser,'username') }}
      </p>
    }
  </div>

  <div class="space-y-2 mt-4">
    <label class="text-sm font-medium text-gray-700">Contraseña</label>
    <div class="relative">
      <lucide-icon [img]="icons.Lock" class="absolute left-2 top-1/2 -translate-y-1/2 w-5 h-5 text-gray-400"></lucide-icon>
      <input type="password"
        placeholder="••••••••"
        class="w-full pl-11 pr-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-yellow-500 outline-none"
        required
        formControlName="password"
        [class.border-red-500]="formUtils.isValidField(formUser,'password')"
        [type]="showPassword() ? 'text' : 'password'"
      />
      <button
        type="button"
        class="absolute right-6 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700"
        (click)="togglePassword()"
      >
        <lucide-icon
          [img]="showPassword() ? icons.EyeOff: icons.Eye"
          class="w-5 h-5"
        ></lucide-icon>
      </button>
    </div>
    @if (formUtils.isValidField(formUser,'password')) {
      <p class="text-xs text-red-500 mt-1 animate-in slide-in-from-top-1 fade-in duration-200">
        {{ formUtils.getFieldError(formUser,'password') }}
      </p>
    }
  </div>

  <div class="flex items-center justify-between text-sm animate-in fade-in duration-300 mt-5">
    <label class="flex items-center gap-2 cursor-pointer">
      <input type="checkbox" class="w-4 h-4 text-yellow-600 rounded border-gray-300 focus:ring-yellow-500" />
      <span class="text-gray-600">Recordarme</span>
    </label>
    <a href="#" class="text-yellow-600 hover:text-yellow-700 font-medium">¿Olvidaste tu contraseña?</a>
  </div>

  <button
    type="submit"
    class="w-full py-3.5 bg-yellow-600 text-white rounded-lg hover:bg-yellow-700 transition-colors disabled:opacity-50 disabled:cursor-not-allowed flex items-center justify-center gap-2 font-semibold mt-6 cursor-pointer"
  >
    Iniciar Sesión
    <lucide-icon [img]="icons.ArrowRight" class="w-5 h-5"></lucide-icon>
  </button>

  <div class="text-center text-sm text-gray-600 pt-2 mt-5">
    ¿No tienes una cuenta?
    <a routerLink="/auth/register" class="text-yellow-600 hover:text-yellow-700 font-medium">Regístrate</a>
  </div>

  <loading-modal
    [status]="modalStatus()"
    [message1]="messageModal1()"
    [message2]="messageModal2()"
  >
  </loading-modal>

</form>
