<form (ngSubmit)="register()" [formGroup]="formTeacher">

  <div class="grid sm:grid-cols-2 gap-4 animate-in fade-in slide-in-from-top-2 duration-300 delay-75">
    <div class="space-y-2">
    <label class="text-sm font-medium text-gray-700">Nombre</label>
      <div class="relative">
        <lucide-icon [img]="icons.User" class="absolute left-3 top-1/2 -translate-y-1/2 w-5 h-5 text-gray-400"></lucide-icon>
        <input
          type="text"
          placeholder="John"
          class="w-full pl-11 pr-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-yellow-500 outline-none"
          required
          formControlName="first_name"
          [class.border-red-500]="formUtils.isValidField(formTeacher,'first_name')"
          appOnlyLetters
        />

      </div>
      @if (formUtils.isValidField(formTeacher,'first_name')) {
        <p class="text-xs text-red-500 mt-1 animate-in slide-in-from-top-1 fade-in duration-200">
          {{formUtils.getFieldError(formTeacher,'first_name') }}
        </p>
      }
    </div>
    <div class="space-y-2">
      <label class="text-sm font-medium text-gray-700">Apellidos</label>
      <div class="relative">
        <lucide-icon [img]="icons.User" class="absolute left-3 top-1/2 -translate-y-1/2 w-5 h-5 text-gray-400"></lucide-icon>
        <input
          type="text"
          placeholder="Doe"
          class="w-full pl-11 pr-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-yellow-500 outline-none"
          required
          formControlName="last_name"
          [class.border-red-500]="formUtils.isValidField(formTeacher,'last_name')"
          appOnlyLetters
        />

      </div>
      @if (formUtils.isValidField(formTeacher,'last_name')) {
        <p class="text-xs text-red-500 mt-1 animate-in slide-in-from-top-1 fade-in duration-200">
          {{ formUtils.getFieldError(formTeacher,'last_name') }}
        </p>
      }
    </div>
  </div>

  <div class="space-y-2">
    <label class="text-sm font-medium text-gray-700">
      Correo Institucional
    </label>
    <div class="relative">
      <lucide-icon [img]="icons.Mail" class="absolute left-3 top-1/2 -translate-y-1/2 w-5 h-5 text-gray-400"></lucide-icon>
      <input
        type="email"
        placeholder="estudiante@alumno.buap.mx"
        class="w-full pl-12 pr-11 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-yellow-500 outline-none"
        required
        formControlName="email"
        [class.border-red-500]="formUtils.isValidField(formTeacher,'email')"
      />
      <lucide-icon
        [hidden]="!formTeacher.controls.email.touched"
        [img]="formUtils.isValidField(formTeacher,'email') ? icons.CircleX : icons.CheckCircle"
        class="absolute right-3 top-1/2 -translate-y-1/2 w-5 h-5"
        [ngClass]="formUtils.isValidField(formTeacher,'email') ? 'text-red-500' : 'text-green-500'"
      >
      </lucide-icon>
    </div>
    @if (formUtils.isValidField(formTeacher,'email')) {
      <p class="text-xs text-red-500 mt-1 animate-in slide-in-from-top-1 fade-in duration-200">
        {{ formUtils.getFieldError(formTeacher,'email') }}
      </p>
    }
  </div>

  <div class="space-y-2">
    <label class="text-sm font-medium text-gray-700">Contraseña</label>
    <div class="relative">
      <lucide-icon [img]="icons.Lock" class="absolute left-3 top-1/2 -translate-y-1/2 w-5 h-5 text-gray-400"></lucide-icon>
      <input type="password"
        placeholder="••••••••"
        class="w-full pl-11 pr-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-yellow-500 outline-none"
        required
        formControlName="password"
        [class.border-red-500]="formUtils.isValidField(formTeacher,'password')"
        [type]="showPassword() ? 'text' : 'password'"
      />
      <button
        type="button"
        class="absolute right-6 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700"
        (click)="togglePassword()"
      >
        <lucide-icon
          [img]="showPassword() ? icons.EyeOff: icons.Eye"
          class="w-5 h-5"
        ></lucide-icon>
      </button>
    </div>
    @if (formUtils.isValidField(formTeacher,'password')) {
      <p class="text-xs text-red-500 mt-1 animate-in slide-in-from-top-1 fade-in duration-200">
        {{ formUtils.getFieldError(formTeacher,'password') }}
      </p>
    }
  </div>

  <div class="grid gap-4 sm:grid-cols-2 animate-in fade-in slide-in-from-bottom-2 duration-300">
    <div class="space-y-2">
      <label class="text-sm font-medium text-gray-700">Número de Empleado</label>
      <div class="relative">
        <lucide-icon [img]="icons.Hash" class="absolute left-3 top-1/2 -translate-y-1/2 w-5 h-5 text-gray-400"></lucide-icon>
        <input
          type="text"
          placeholder="123456"
          class="w-full pl-11 pr-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-yellow-500 outline-none"
          required
          formControlName="id_teacher"
          [class.border-red-500]="formUtils.isValidField(formTeacher,'id_teacher')"
          appOnlyNumbers
          maxlength="9"
        />
      </div>
      @if (formUtils.isValidField(formTeacher,'id_teacher')) {
        <p class="text-xs text-red-500 mt-1 animate-in slide-in-from-top-1 fade-in duration-200">
          {{ formUtils.getFieldError(formTeacher,'id_teacher') }}
        </p>
      }
    </div>
    <div class="space-y-2">
      <label class="text-sm font-medium text-gray-700">Facultad</label>
      <div class="relative">

        <select
        class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-yellow-500 outline-none bg-white" r
        equired
        formControlName="faculty"
        [class.border-red-500]="formUtils.isValidField(formTeacher,'faculty')"
        >
        <option >Seleccionar faculty</option>
        @for(faculty of listFaculties; track faculty) {
          <option [value]="faculty">{{ faculty }}</option>
        }
      </select>
      @if (formUtils.isValidField(formTeacher,'faculty')) {
        <p class="text-xs text-red-500 mt-1 animate-in slide-in-from-top-1 fade-in duration-200">
          {{ formUtils.getFieldError(formTeacher,'faculty') }}
        </p>
      }
    </div>

    </div>
  </div>

  <button
    type="submit"
    class="w-full py-3.5 bg-yellow-600 text-white rounded-lg hover:bg-yellow-700 transition-colors disabled:opacity-50 disabled:cursor-not-allowed flex items-center justify-center gap-2 font-semibold mt-6 cursor-pointer"
  >
    Crear Cuenta
    <lucide-icon [img]="icons.ArrowRight" class="w-5 h-5"></lucide-icon>
  </button>

  <div class="text-center text-sm text-gray-600 pt-2 mt-5">
    ¿Ya tienes una cuenta?
    <a routerLink="/auth/login" class="text-yellow-600 hover:text-yellow-700 font-medium">Inicia Sesión</a>
  </div>

  <loading-modal
    [status]="modalStatus()"
    [message1]="messageModal1()"
    [message2]="messageModal2()"
  >

  </loading-modal>
</form>
