<div class="space-y-5">
  <div class="pb-2 animate-in fade-in slide-in-from-top-2 duration-300">
    <label class="text-sm font-semibold text-gray-900 block mb-3">Soy:</label>
    <div class="flex gap-4">

      <label class="flex-1 cursor-pointer group">
        <input
          type="radio"
          name="rol"
          value="alumno"
          class="peer sr-only"
          (change)="setRole('alumno')"
          [checked]="rolActivo() === 'alumno'"
        x/>
        <div class="border-2 border-gray-300 peer-checked:border-yellow-600 peer-checked:bg-yellow-50 rounded-lg p-4 text-center transition-all group-hover:border-gray-400">
          <lucide-icon [img]="icons.BookOpen" class="w-6 h-6 mx-auto mb-2 text-gray-600 peer-checked:text-yellow-600"></lucide-icon>
          <div class="font-semibold text-gray-900">Estudiante</div>
        </div>
      </label>

      <label class="flex-1 cursor-pointer group">
        <input
          type="radio"
          name="rol"
          value="maestro"
          class="peer sr-only"
          (change)="setRole('maestro')"
          [checked]="rolActivo() === 'maestro'"

        />
        <div class="border-2 border-gray-300 peer-checked:border-yellow-600 peer-checked:bg-yellow-50 rounded-lg p-4 text-center transition-all group-hover:border-gray-400">
          <lucide-icon [img]="icons.Briefcase" class="w-6 h-6 mx-auto mb-2 text-gray-600 peer-checked:text-yellow-600"></lucide-icon>
          <div class="font-semibold text-gray-900">Maestro</div>
        </div>
      </label>
    </div>

    @if(rolActivo() === "alumno"){

      <app-student-form/>

    }@else {
      <app-teacher-form/>
    }
</div>

</div>
