@if(isLoading()){
  <div class="w-full h-full min-h-[60vh] flex flex-1 flex-col items-center justify-center space-y-4">
    <span class="loading loading-spinner text-yellow-600 w-12 h-12"></span>
    <p class="text-gray-500 font-medium animate-pulse">Cargando informacion...</p>
  </div>
}

@else if(error()){
  <div class="w-full p-6">
    <div class="alert alert-error shadow-sm rounded-xl flex items-start  gap-3 bg-red-50 border-red-200 text-red-900" role="alert">
      <lucide-icon [img]="icons.AlertCircle" class="w-6 h-6 shrink-0 "></lucide-icon>
      <div>
        <h3 class="font-bold">Error de conexion</h3>
        <div class="text-sm">{{error()?.message || defaultErrorMsg}}</div>
      </div>
    </div>
  </div>
}

@else if(hasValue()){
  <div class="w-full p-6">
    <div class="alert alert-info shadow-sm rounded-xl flex items-start  gap-3 bg-gray-100 border-gray-300 text-gray-900" role="alert">
      <lucide-icon [img]="icons.AlertCircle" class="w-6 h-6 shrink-0 "></lucide-icon>
      <div>
        <h3 class="font-bold">Informacion no disponible</h3>
        <div class="text-sm">{{emptyMessage()}}</div>
      </div>
    </div>
  </div>
}

@else{
  <ng-content></ng-content>
}
